PROJECT_NAME=Peblo TV Mini API
SECRET_KEY=peblo-tv-mini-super-secret-jwt-key-2026
DATABASE_URL=sqlite:///./peblo_tv_mini.db
STORAGE_TYPE=local
LOCAL_STORAGE_PATH=./media
CATALOG_STORAGE_PATH=../catalog
